---
import Layout from "../layouts/Layout.astro";
import GradientDisplay from "../components/GradientDisplay.svelte";
---

<Layout title="colors.jp | Gradients">
  <main>
    <h2>Gradients</h2>
    <GradientDisplay client:only />
  </main>
</Layout>

<style lang="scss"></style>
