---
interface Props {
  title: string;
}

const { title } = Astro.props;
import "@fontsource-variable/m-plus-1";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <div class="masthead">
        <h1>
          colors.jp <span class="jp-title">カラーズ</span>
        </h1>
      </div>
      <div class="coloredSquares">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
    </header>
    <slot />
  </body>
  <style is:global lang="scss">
    :root {
      --bg-color: #e5e4e6;
      --grid-color: #b3b2ae53;
      --bg-size: 33px;
      --main-blue: #222940;
      --main-red: #d32f30;
      --main-gray: #b3b2ae;
      --border-color: var(--main-gray);
      --main-black: #010101;
      --second-blue: #3c486d;
      --second-gray: #a7a9a4;
    }

    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }

    body,
    html {
      padding: 0;
      margin: 0;
    }

    html {
      font-size: 17px;
    }

    body {
      line-height: 1.6;
      font-family: "M PLUS 1 Variable", sans-serif;
      background: var(--bg-color);
      min-height: 100dvh;
      padding: 0 1em;
      margin: 0 1rem;
      min-height: 100dvh;
    }

    header {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      border-bottom: solid 2.5px var(--border-color);
      padding-bottom: 0.8em;

      .masthead {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
      }
      .coloredSquares {
        display: flex;
        justify-content: center;
        .square {
          width: clamp(30px, 9.5vw, 40px);
          height: clamp(30px, 9.5vw, 40px);

          &:nth-child(1) {
            background-color: var(--main-blue);
          }
          &:nth-child(2) {
            background-color: var(--main-red);
          }
          &:nth-child(3) {
            background-color: var(--main-gray);
          }
          &:nth-child(4) {
            background-color: var(--main-black);
          }
          &:nth-child(5) {
            background-color: var(--second-blue);
          }
          &:nth-child(6) {
            background-color: var(--second-gray);
          }
        }
      }
    }
    a {
      color: var(--main-blue);
    }

    h1 {
      color: var(--second-blue);
      text-align: center;
      font-size: clamp(2rem, 9.5vw, 3.6rem);
      margin: 0;
      font-weight: 300;
    }

    h2 {
      color: var(--second-blue);
      text-align: center;
      font-size: clamp(2rem, 9.5vw, 2.8rem);
      margin: 0;
      font-weight: 250;
    }

    .jp-title {
      display: block;
      color: var(--main-red);
    }

    @media (max-width: 550px) {
      body {
        margin: 0.2rem;
        padding: 0.2em;
      }
    }

    @media (min-width: 400px) {
      .jp-title {
        display: inline;
      }
    }

    @media (min-width: 850px) {
      header {
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: 0.4em;
      }
    }
  </style>
</html>
